body {
  font-family: 'Hind Light', sans-serif;
  background-color: #f4f4f4;

}

/* Header */
.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.masthead, h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
}

.masthead, .content {
  padding-top: 20px;
}
.header {
  position: absolute;
  margin: 0;
  top: 43%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.header span {
  /* font-size: 55px; */
}

/* Social links */
.content {
	position: absolute;
  margin: 0;
  top: 47%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.content li {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0;
}
.content .link-button {
  color: black;
  text-decoration: none;
}

.link-button {
  position: relative;
  display: block;
  cursor: pointer;
}
.link-button:before, .link-button:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  background: black;
}
.link-button:before {
  left: 0;
}

.link-button:after {
  right: 0;
  background: black;
  transition: width 0.8s cubic-bezier(.57,.21,.69,1.25);
}

.link-button:hover:before {
  background: black;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.link-button:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

@media only screen and (max-width: 600px) {
  #sidebar-wrapper {
    display: none;
  }
  .open-icon {
    display: none;
  }
  .masthead {
    margin-top: 120px;
  }
  .content{
    top: 49%;
  }
}
