body {
  font-family: 'Hind Light', sans-serif;
  background-color: #f4f4f4; 
  color: black;

}

/* Header */
.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.masthead, h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
}

.masthead, .content {
  padding-top: 20px;
}
.header {
  position: absolute;
  margin: 0;
  top: 43%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}


/* Social links */
.content {
	position: absolute;
  margin: 0;
  top: 47%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.content li {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0;
}
.content .link-button {
  color: #282828;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  #sidebar-wrapper {
    display: none;
  }
  .open-icon {
    display: none;
  }
  .masthead {
    margin-top: 120px;
  }
  .content{
    top: 49%;
  }
}


@media screen and (prefers-color-scheme: dark) {
	body {
		color: white;
		background-color: #282828;
  }
  
  .content .link-button {
    color: white;
    text-decoration: none;
  }
}