body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Futura', Arial, sans-serif;
}

.background {
  background-image: url(img/background.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .74;

}

.logo {
  position: absolute;
  left: 0;
  top: 16%;
  width: 100%;
  text-align: center;
}

.logo img {
  /* max-width: 38%; */
}

@media (max-width: 768px) {
  .logo {
    top:15%;
  }
  .logo img {
    max-width: 78%;
    height: auto;
  }
  .caption {
    width: 90%;
    font-size: 13px;
  }
  .address {
    letter-spacing: 7px;
    text-transform: uppercase;
  }
}

.caption {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  padding: 10px;
}

.caption h3.address {
  font-family: 'Futura', Arial, sans-serif;
  color: black;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.social {
	position: absolute;
  margin: 0;
  top: 85%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.social li {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0;
}

.end-page {
  padding:5px 15px;
  position: absolute;
  left: 50%;
  /* width: 100%; */
  margin-right: -50%;
  transform: translate(-50%, -15%);
  text-align: center;
}
