body {
    background-color: #f4f4f4;
    color: #000000;
    /* background-color: #0f0f0f;
    color: #f4f4f4; */
    height: 100%;
    overflow: hidden;
}

ul#nav-list {
    top: -45px;
    left: 84%;
    color: #ffffff !important;
}
#title {
    left: 45%;
    /* color: #ffffff; */
}
.pdfobject-container {
    max-width: 100%;
    width: 800px;
    height: 860px;
    margin: 0;
}

ul, li {
    display: inline;
}
footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:20px;
    width:100%;
    padding-bottom: 10px;
    background-color: #f4f4f4;
}

.aspect-ratio {
    height: 0;
    position: relative;
}

.aspect-ratio--1x1 {
    padding-bottom: 100%;
}

.aspect-ratio--object {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.cover {
    background-size: cover !important;
}

.bg-center {
    background-repeat: no-repeat;
    background-position: center center;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.db {
    display: block;
}

.fl {
    float: left;
    _display: inline;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

@media screen and (min-width: 30em) {
    .w-25-ns {
        width: 25%;
    }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .w-50-m {
        width: 50%;
    }
}

@media screen and (min-width: 60em) {
    .w-25-l {
        width: 25%;
    }

    .w-50-l {
        width: 50%;
    }
}

@media only screen and (max-width: 375px) {
    div#title-box{
        /* padding-right: 0em; */
    }
    #title {
        position: static;
    }
    #nav-list {
        position: static;
    }
}
@media only screen and (max-width: 320px) {
    div#title-box{
        background-color: red;
    }
    #title {
        position: static;
    }
    #nav-list {
        position: static;
    }
}
